html {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

html, body, main {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    position:fixed;
}
